:root {
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.wrapper-container {
  display: grid;
  grid-template-rows: 70px 1fr auto;
  min-height: 100vh;
}

.home_page-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.home_page-container > header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.todo-list li:hover {
  background: rgba(0, 0, 0, 0.05);
}
.todo-list li span {
  cursor: pointer;
}

.delete-button {
  border: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 100ms ease-in-out;
  background: none;
}
.delete-button::before,
.delete-button::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 0.1rem;
  height: 100%;
  display: block;
  position: relative;
}

.delete-button::after {
  top: -100%;
  transform: rotate(45deg);
}
.delete-button::before {
  top: 0;
  transform: rotate(-45deg);
}

.todo-list li:hover .delete-button {
  opacity: 1;
  visibility: visible;
}

.plus-button {
  border: 2px solid grey;
  background-color: #fff;
  font-size: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.plus-button::after,
.plus-button::before {
  content: "";
  display: block;
  background-color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-button::before {
  height: 0.7rem;
  width: 0.15rem;
}

.plus-button::after {
  height: 0.15rem;
  width: 0.7rem;
}

.plus-button:hover {
  background-color: grey;
  border: 2px solid grey;
}
.plus-button:hover::after,
.plus-button:hover::before {
  background-color: white;
}
