:root {
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.wrapper-container {
  display: grid;
  grid-template-rows: 70px 1fr auto;
  min-height: 100vh;
}

.wrapper-container > header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  background: white;
  color: #1c1d1f;
}

footer {
  background: #1c1d1f;
  color: white;

  text-align: center;
}

.home_page-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  padding: 1rem;
}
